html,  body {    
      height: 100%; /*setting this explicitly is important*/  
}

body {
      display: flex; 
      flex-direction: column; 
      margin: 0; 
      font-family: Lato, sans-serif;
}


/* size classes */

.smally {font-size: 24px !important}
.biggy { font-size: 40px}
.round_box {
      border: 1px solid #fff;
      padding: 12px;
      border-radius: 50px;
      width: 50px;
      text-align: center;
}

.round_box_library {
      border: 1px solid #fff;
      padding: 12px;
      border-radius: 50px;
      text-align: center;
}

.round_box:hover, .round_box_library:hover {background-color: #E78400; border: none; cursor: pointer;}



aside li {
      list-style: none; 
      font-weight: bold;
      margin-bottom: 10px;
}

header { 
      background-color: azure; 
      height:100vh;
}

main {
      display: flex; 
      background-color: darkgray; 
      flex: 1 0 auto;
 }

      aside { 
            background-color: #E78400;
            display: flex; 
            flex: 0 0 250px; 
            justify-content: center;
            align-items: left; 
            flex-direction: column; 
      }

      section { 
            background-color: rgb(255, 255, 255); 
            display: 
            flex; flex: 1 0 auto;
      }

footer { 
      background: rgb(2,0,36);
      height: 40px; 
      display: flex; 
      flex: 0 0 90px;
}

/* search nodal styling */

.search_bg {background-color: rgba(0, 0, 0, 0.753) !important}
.modal-body input {width: 100% !important; border-radius: 15px; padding: 5px 10px; border: 8px solid #E78400}
.modal-content { background-color: transparent !important; border: none;}
.modal-header { border: none; color: #fff}
.modal-footer { border: none; color: #fff}

.modal-content {
      pointer-events: auto;
      color: #fff;
  }

.close { color: #ffcc00; text-shadow: none;}
.close:hover { color: #ffcc00; text-shadow: none;}
.btn-orange {
      color: #fff;
      background-color: #E78400;
      border-color: #E78400;
}


.play_tools {
      display: flex;  
      color: #fff; 
      justify-content:  center;
}

.play_tools li { 
      padding: 5px
}

aside li a { color: #fff;text-decoration: none;}
aside li a:hover { color:rgb(54, 31, 1) ;text-decoration: none;}

aside i.fa {
      font-size: 0.9em;  /*font size for the icons*/ 
      color: #fff;
}
aside li {padding: 10px;}
aside li:hover {background-color: #CB9E7D}

#whats_playing { 
      display: flex; 
      flex-direction: column; 
      margin-left: -205px;  
      overflow-x: hidden;
      transition: 0.5s;
      flex-grow: 1;
}

.my_library {background-image: url(img/head.jpg); background-position: center }
.my_library h3{
      padding: 60px 20px 20px 40px;
      color: #fff;
}

.my_library ul li{
      padding: 10px 0px;
      align-items: center;
}


.my_library .nav-tabs {
      /* margin-left: 10px; */
      font-size: 22px;
      justify-content: start;
      display: flex;
}

.nav-tabs li { padding:10px 30px !important; }
.nav-tabs li a {color: bisque; }
.nav-tabs .active { color: #E78400}
.nav-tabs { padding-left: 10px;}



.now_playing {
      display: flex; 
      flex: 1 0 auto; 
      background-image: url(img/head.jpg); background-position: center 
}

#playlist { 
      background-color: rgba(255, 255, 255, 0.9);
      display: flex; 
      flex: 1 0 auto
}

ol.playlist_songs {
      padding-left: 40px;
}

ol.playlist_songs li:nth-child(2n) { 
      background-color: rgba(212, 212, 212, 0.2)
}

.playlist_songs { 
      display: flex; 
      flex-direction: column; 
      justify-content: space-around; 
      flex: 1 0 auto;
      background-color: #fff;
}

.playlist_songs li {
      flex-direction: row; 
      justify-content: space-around;
      padding: 10px 0px;
      align-items: center;
}

.playlist_songs li:hover {
      cursor: pointer;
  }



  #volumeSlider {
      width: 80px;
      height: 12px;
  }

  #volumeSlider input {padding-top: 5px; }


  #volumeSliderMenu {
      width: 120px;
      height: 12px;
  }

  #volumeSliderMenu input {padding-top: 5px; }

  .volume_slider i {color: #fff}


  input.volume {padding-top: 0px;}


.song, .duration { 
      font-weight: bold
}

.genre { border: 1px solid #000; padding: 5px}

.music_art{flex:0 0 200px; padding: 20px}

.music_playing{
      flex: 1 0 auto; 
      padding: 20px; 
      color: #fff; 
      justify-content: center; 
      display: flex; 
      flex-direction: column;
      margin-top: 40px; 
}

.track_controls { flex-direction: row; display: flex; margin: 20px 0px 0px -15px }
.track_controls li { list-style: none; padding: 0px 10px}
.track_controls li i { padding: 0 5px; color: #CB9E7D}

.track_controls li:nth-child() {padding-left: 0px}

.user_settings {margin-right: auto;}

#player_icons i{
      margin-right: 30px;
}

/* styles for the library bar */

.library_options {
      display: flex;
      flex-direction: row;
      justify-content: start;
      color: #fff;
      margin-left: 26px;
}

.library_options select { border: 1px solid #eee;
      background-color: transparent;
      color: #fff;
      font-size: 16px;
      border-radius: 3px;}


.library_options p{ padding: 15px; margin: 0px !important}

.artist_screen {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0px auto;
      overflow-y: scroll;
      height: 100vh;
}

.albums {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0px auto;
      overflow-y: scroll;
      height: 100vh;
}
.album_item {
      width: 200px;
      height: 250px;
      margin: 10px 10px 40px 10px;
      display: flex;
      flex-direction: column;
      color: #fff;
      transition: ease-in;
}

.artist_section {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-wrap: wrap;
}

.artist_item {
border-radius: 50px;
display: flex;
flex-direction: column;
color: #fff;
transition: ease-in;
flex-grow: 0;
margin: 20px;
}

.album_art , .artist_art{ position: relative;}

.album_item:hover img, .artist_item:hover img {
      opacity: 0.6;
    }
    
.album_item:hover .middle_play_btn, .artist_item:hover .middle_play_btn {
opacity: 1;
}

.middle_play_btn { 
      position: absolute;
      margin: 0 auto;
     /* background-color: #ffcc00; */
      color: #fff;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: .5s ease;
}



/* aside open and close buttons */

.openMenu {
      display: flex; 
      flex-direction: row;
      margin-top: -50px;
      width: 20%;
}

.closebtn {
      margin-left: auto;
      color: #fff;
      background-color: #000;
      padding: 5px;
      /* z-index: 10; */
}

/* footer code */



.music_art_little{
      flex:0 0 100px; 
      padding: 20px
}

.controls {
      display: flex;
      flex-direction: row;
      flex: 1 0 auto;
      border-radius: 200px;
      justify-content: space-evenly;
      align-items: center; }

.controls li {
      list-style: none; 
      color: #fff; 
      border: 2px solid #fff; 
      padding: 10px; 
      border-radius: 100px
}


.play_controls {
      display: flex;
      flex-direction: row;
      flex: 0 0 500px;
      border-radius: 200px;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 10px; 
}

.play_controls li {list-style: none; color: #fff; }
.play_controls li i{font-size: 18px}
.playlist_songs li:hover { background-color: aliceblue !important}

.playing_now{display: flex; flex-direction: row; justify-content: flex-start}
#playing_now_details { display: flex; flex-direction: column; justify-content: center}
.vol_adjust{display: flex;flex-direction: column; justify-content: flex-end}

#viz { width: 120px}

#currentlyPlayingSong2{ color: #fff;}
#currentSong2{ color: #E78400; font-weight: bold}

footer{ 
      display: flex; 
      flex-direction: row; 
      flex-grow: 1; 
      justify-content: space-between;
      max-height:100px;
      align-items: center;
      padding: 40px;
}

.slider {
      margin-top: 50px;
      height: 3px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      flex: 1 auto;

}

.slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 10px;
      height: 25px;
      background: #ffcc00;
      cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
      width: 10px;
      height: 25px;
      background: #ffcc00;
      cursor: pointer;
    }

progress { width: 80%;
       margin: 10px;
       border-radius: 10px;
      }

progress[value] {
      height: 6px;
}
          
progress::-webkit-progress-bar {
      background-color: #E78400;
    }
progress::-webkit-progress-value {
      background-color: #E78400;
}
progress::-moz-progress-bar {
      background-color: #E78400;
}

.music_slider {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top:30px;
 }      

@media screen and (max-width: 32em) {
aside {display:  none}
.music_art{display: none}
.now_playing{flex-direction: column}
.music_playing{align-items: center}
.play_visuals {display: none}
#whats_playing { margin-left: 0 }
.library_options {justify-content: center}
.my_library .nav-tabs {justify-content: center}
.my_library h3 {text-align: center}
.albums { display: block; text-align: -moz-center;}
.artist_screen, .artist_section { display: block; text-align: -moz-center;}
}

@media screen and (max-width: 64em) {
      
      .music_art{display: none}
      .now_playing{flex-direction: column}
      .music_playing{align-items: center}
      .play_visuals {display: none}
      #whats_playing { margin-left: 0 }
      .library_options {justify-content: center}
      .my_library .nav-tabs {justify-content: center}
      .playing_now {display: none}
     
      }